@import 'tailwindcss';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

* {
  font-family: Nunito, sans-serif;
  font-size: 15px;
  box-sizing: border-box;
  transition: 100ms;
}

:root {
  --placeholder-color: rgb(77, 77, 77);
  --blue: #3a8efc;
  --blue-hover: #1770e6;
  --blue-button: #0468EC;
  --dark-blue: #0c428a;
  --dark-gray: #464646;
  --light-gray: #cccccc;
  --red: red;
  --dark-red: hsl(0, 74%, 40%);
  --warning: #ffa500;

  --svg-size: 25px;

  height: 100%;
  width: 100%;
  transition: 100ms;
}

.app {
  display: flex;
  flex-direction: column;

  /* height: 100vh; */
}

h1 {
  font-family: Lato, sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: var(--blue);
  margin: 0px 0px 30px 0px; /* overrides default margin */
  text-align: left;
}

.message.error, .message.messageError {
  color: var(--error-red);
  text-align: left;
  margin-left: 12px;
}

.message.warning, .message.messageWarning {
  color: var(--warning);
  text-align: left;
  margin-left: 12px;
}

@media (prefers-color-scheme: dark) {
  .colorAuto {
      --bg-base: rgb(33, 33, 36);
      --bg-sec: #282828;
      --bg-field: #353535;

      --text-field: rgb(221, 221, 221);
      --text: white;
      --text-faded: var(--light-gray);

      --button-bg: var(--bg-sec);
      --button-bg-hover: rgb(58, 58, 63);
      --placeholder: var(--light-gray);

      --border: var(--dark-gray);
      --shadow: #5d5b5b35;
      --error-red: #ff4f4f;
      --blue-link: var(--blue);
      
      --selected-bg: #373737;
      --selected-item: #616161;
      --selected-text: #aaaaaa;
      
      background-color: var(--bg-base);
      color: var(--text);
  }
}

@media (prefers-color-scheme: light) {
  .colorAuto {
      --bg-base: #f7f8fa;
      --bg-sec: rgb(255, 255, 255);
      --bg-field: rgb(255, 255, 255);
      --text-field: rgb(77, 77, 77);
      --text: black;
      --text-faded: var(--dark-gray);
      --button-bg: var(--bg-sec);
      --button-bg-hover: #ececec;
      --placeholder: #808080;
      --border: #eeeeee;
      --shadow: #00000015;
      --error-red: #EB0000;
      --blue-link: #0468EC;

      --selected-bg: #e1e1e0;
      --selected-item: #d4dffd;
      --selected-text: #777777;

      background-color: var(--bg-base);
      color: var(--text);
  }
}

.colorDark {
  --bg-base: #212124;
  --bg-sec: #282828;
  --bg-field: #353535;
  --text-field: rgb(221, 221, 221);
  --text: white;
  --text-faded: var(--light-gray);
  --button-bg: var(--bg-sec);
  --button-bg-hover: rgb(58, 58, 63);
  --placeholder: var(--light-gray);
  --border: var(--dark-gray);
  --error-red: var(--dark-red);
  --shadow: #5d5b5b35;
  --error-red: #ff4f4f;
  --blue-link: var(--blue);

  --selected-bg: #373737;
  --selected-item: #616161;
  --selected-text: #aaaaaa;
  
  background-color: var(--bg-base);
  color: var(--text);
}

.colorLight {
  --bg-base: #f7f8fa;
  --bg-sec: rgb(255, 255, 255);
  --bg-field: rgb(255, 255, 255);
  --text-field: rgb(77, 77, 77);
  --text: black;
  --text-faded: var(--dark-gray);
  --button-bg: var(--bg-sec);
  --button-bg-hover: #ececec;
  --placeholder: #808080;
  --border: #eeeeee;
  --shadow: #00000015;
  --error-red: #EB0000;
  --blue-link: #0468EC;

  --selected-bg: #e1e1e0;
  --selected-item: #d4dffd;
  --selected-text: #777777;

  background-color: var(--bg-base);
  color: var(--text);
}

/* html, body */
:root {
    @apply bg-white dark:bg-gray-950;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}

.block {
  display: block;
}